# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/tasks.json
day2/input.txt
day2/test.txt
day3/input.txt
day3/test.txt
day4/input.txt
day4/test.txt

# textfiles
.txt

# vscode
.vscode
